@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300&family=Vollkorn:ital,wght@0,400;0,500;1,400;1,500&display=swap');

@function strip-unit($value) {
    @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
    $u1: unit($min-vw);
    $u2: unit($max-vw);
    $u3: unit($min-font-size);
    $u4: unit($max-font-size);

    @if $u1==$u2 and $u1==$u3 and $u1==$u4 {
        & {

            font-size: $min-font-size;

            @media screen and (min-width: $min-vw) {
                font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
            }

            @media screen and (min-width: $max-vw) {
                font-size: $max-font-size;
            }
        }
    }
}

$min_width: 320px;
$max_width: 1000px;
$min_font: 16px;
$max_font: 26px;

html {
    @include fluid-type($min_width, $max_width, $min_font, $max_font);
}

body {
    
    background-color: #18071B;
    color: #FFFFFF;
    max-width: 1000px;
    padding: 1rem;
    margin: 0 auto;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
p {
    font-family: 'Vollkorn', serif;
    line-height: 1.4;
}
.heading {
    font-size: 3.2rem;
    font-family: 'Roboto Condensed', sans-serif;
    @media screen and (min-width: 320px){
        // font-size: 2rem;
    }
}

button {
    display: inline-block;
    text-align: center;
    background-color: #FFDA53;
    color: #2F2032;
    outline: none;
    border: none;
    padding: .5rem 1.25rem;
    font-size: 1.2rem;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
}

.btn{
    margin-right:.75rem;
}
.btn__cta {
    color: white;
    background-color: #2F2032;
    margin-left: .75rem;

    @media screen and (min-width: 320px) {
        margin-top: .75rem;
        margin-left: 0;
    }
}